@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Gordita-bold";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Bold.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gordita-regular";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Regular.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gordita-medium";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Medium.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Utopia";
    src: local("Utopia"),
     url("./fonts/Utopia/Utopia-Semibold.otf") format("truetype");
    font-weight: bold;
}




*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --fnt-title: "Utopia", sans-serif;
    --fnt-body-b: "Gordita-bold", sans-serif;
    --fnt-body-r: "Gordita-regular", sans-serif;
    --fnt-body-m: "Gordita-medium", sans-serif;
    --clr-grey: #ececec;
    --clr-cream: #FAFAFA;
    --clr-light: #f1f1ee;
    --clr-green: rgb(79, 169, 112);
    --clr-orange: rgb(232, 117, 67);
    --clr-black :rgb(30, 30, 30);
}

body {
    margin: 0;
    font-family: var(--fnt-body-m);
    background-color: rgb(245, 245, 245);
}

.logo {
    width: 4rem;
}

.nav-content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--fnt-body-m);
}

.nav-list {
    font-size: .48rem;
    color: var(--clr-black);
}

.nav-item {
    text-decoration: none;
    color: var(--clr-orange);
    font-size: .4rem;
    font-family: var(--fnt-body-r);
}

.nav-login {
    color: var(--clr-orange);
    font-size: .7rem;
    font-family: var(--fnt-body-b);
    text-decoration: none;
}

.nav-signup {
    background-color: var(--clr-orange);
    color: white;
    font-size: .65rem;
    font-family: var(--fnt-body-b);
}

.nav-right-seperator {
    background-color: var(--clr-black);
    width: .05rem;
    height: 1.5rem;
    opacity: 0.1;
}

.cart-items {
    font-family: var(--fnt-body-r);
    background-color: var(--clr-black);
    color:var(--clr-light);
    font-size: .5rem;
}

/* Hero Section */

.hero-container {
    width: 100%;
    height: 400px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-grey);
}

.hero-content-container {
    width: 50%;
}

.hero-content {
    width: 60%;
}

.hero-content-title {
    font-family: var(--fnt-title);
    font-weight: 600;
    font-style: normal;
    color: var(--clr-black);
    font-size: 2rem;
}

.hero-content-subtitle {
    font-family: var(--fnt-body-m);
    font-size: 1.2rem;
    color: var(--clr-black);
}

.hero-content-paragraph {
    font-size: .65rem;
    font-family: var(--fnt-body-r);
    line-height: 1.1rem;
    color: var(--clr-black);
}

.hero-content-button {
    background-color: var(--clr-green);
    color: var(--clr-light);
    font-family: var(--fnt-body-m);
    font-size: .65rem;
}

.hero-image-container {
    width: 50%;
}

.hero-image {
    width: 80%;
}

/* About Section */

.about-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}

.about-title {
 font-family: var(--fnt-body-m);
 font-size: 1.1rem;
 color: var(--clr-black);
}

.about-image {
    width: 7rem;
    margin: 0 auto;
}

.about-subtitle {
    font-family: var(--fnt-body-b);
    font-size: 1rem;
    color: var(--clr-black);
}

.about-paragraph {
    font-family: var(--fnt-body-r);
    font-size: .65rem;
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.1rem;
    color: var(--clr-black);
}

.about-footer {
    font-family: var(--fnt-body-r);
    font-size: .65rem;
    color: var(--clr-black);
}

/* Coupon Section */
.coupon-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.coupon-image-container {
    background-image: url("coupon-image.webp");
    object-fit: cover;
    width: 1440px;
    height: 500px;
}

.coupon-image-overlay {
    width: 75%;
    height: 70%;
    background-color: white;
    border-radius: 15px;
}

.coupon-title {
    font-family: var(--fnt-body-b);
    font-size: 1.2rem;
    color: var(--clr-black);
}

.coupon-subtitle {
    font-family: var(--fnt-body-m);
    font-size: 1.7rem;
    color: var(--clr-black);
}

.coupon-paragraph {
    text-transform: uppercase;
    font-family: var(--fnt-body-b);
    font-size:1rem;
    color: var(--clr-black);
}

.coupon-button {
    background-color: var(--clr-green);
    color: white;
    font-family: var(--fnt-body-m);
    font-size: 1rem;
}

/* Why Section */

.why-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-light);
}

.why-title {
    font-family: var(--fnt-body-m);
    color: var(--clr-black);
    font-size: 1.25rem;
}

.why-image {
    width: 7rem;
    margin: 0 auto;
}

.why-subtitle {
    font-family: var(--fnt-body-b);
    color: var(--clr-black);
    font-size: 1rem;
}

.why-paragraph {
    font-family: var(--fnt-body-r);
    color: var(--clr-black);
    font-size: .65rem;
    max-width: 55%;
    margin: 0 auto;
    line-height: 1.1rem;
    margin-bottom: 4rem;
}

.why-button {
    background-color: var(--clr-black);
    color: white;
    font-family: var(--fnt-body-m);
    font-size: 1rem;
}

/* Menu Section */

.menu-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-cream);
}

.menu-title {
    font-family: var(--fnt-body-m);
    font-size: 1.5rem;
    color: var(--clr-black);
}

.menu-nav-list {
    list-style: none;
    font-family: var(--fnt-body-r);
    font-size: .85rem;
    cursor: pointer;
}

.menu-nav-items {
    cursor: pointer;
}

/* MenuItems Section  */

.menuitem-container {
    background-color: var(--clr-cream);
}

.menuitem-image {
    width: 240px;
}

.menuitem-title {
    font-family: var(--fnt-body-m);
    font-size: .55rem;
    color: var(--clr-black);
}

.selected {
    color: var(--clr-orange);
}

.total-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.carousel {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.blank-container {
    width: 220px;
    background-color: var(--clr-cream);
}

.bottom-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-cream);
    height: 70px;
}

/* Big Carousel Section */

.big-carousel-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.carousel-slides {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Wines */
.wines-image-container {
    width: 55%;
    background-color: rgb(167, 183, 119);
}

.wines-image {
    border-radius: 0 0 0 50px;
}

.wines-text {
    width: 45%;
    background-color: rgb(167, 183, 119);
}

.wines-content {
    padding-left: 130px;
    padding-right: 50px;
}

.wines-title {
    font-family: var(--fnt-body-m);
    font-size: 2rem;
    color: white;
    line-height: 4rem;
}

.wines-paragraph {
    font-family: var(--fnt-body-m);
    font-size: .9rem;
    color: white;
}

.wines-button {
    border: 1px solid var(--clr-black);
    font-family: var(--fnt-body-m);
    font-size: .8rem;
}

/* Pizza */
.pizza-image-container {
    width: 55%;
    background-color: rgb(190, 190, 175);
}

.pizza-image {
    border-radius: 0 0 0 50px;
}

.pizza-text {
    width: 45%;
    background-color: rgb(190, 190, 175);
}

.pizza-content {
    padding-left: 130px;
    padding-right: 50px;
}

.pizza-title {
    font-family: var(--fnt-body-m);
    font-size: 2rem;
    color: white;
    line-height: 4rem;
}

.pizza-paragraph {
    font-family: var(--fnt-body-m);
    font-size: .9rem;
    color: white;
}

.pizza-button {
    border: 1px solid var(--clr-black);
    font-family: var(--fnt-body-m);
    font-size: .8rem;
}

/* bbq */
.bbq-image-container {
    width: 55%;
    background-color: rgb(190, 190, 175);
}

.bbq-image {
    border-radius: 0 0 0 50px;
}

.bbq-text {
    width: 45%;
    background-color: rgb(190, 190, 175);
}

.bbq-content {
    padding-left: 130px;
    padding-right: 50px;
}

.bbq-title {
    font-family: var(--fnt-body-m);
    font-size: 2rem;
    color: white;
    line-height: 4rem;
}

.bbq-paragraph {
    font-family: var(--fnt-body-m);
    font-size: .9rem;
    color: white;
}

.bbq-button {
    border: 1px solid var(--clr-black);
    font-family: var(--fnt-body-m);
    font-size: .8rem;
}

/* fruits */
.fruits-image-container {
    width: 55%;
    background-color: rgb(167, 183, 119);
}

.fruits-image {
    border-radius: 0 0 0 50px;
}

.fruits-text {
    width: 45%;
    background-color: rgb(167, 183, 119);
}

.fruits-content {
    padding-left: 130px;
    padding-right: 50px;
}

.fruits-title {
    font-family: var(--fnt-body-m);
    font-size: 2rem;
    color: white;
    line-height: 4rem;
}

.fruits-paragraph {
    font-family: var(--fnt-body-m);
    font-size: .9rem;
    color: white;
}

.fruits-button {
    border: 1px solid var(--clr-black);
    font-family: var(--fnt-body-m);
    font-size: .8rem;
}

/* Testimonials */

.testimonial-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-cream);
}

.testimonial-card {
    width: 400px;
    height: 160px;
    border-radius: 10px;
}

.testimonial-title {
    font-family: var(--fnt-body-m);
    font-size: .1rem;
    margin: 0;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.testimonial-stars {
    display: flex;
    gap: 5px;
}

.testimonial-star {
    width: 20px;
    height: 20px;
}

.testimonial-text {
    margin: 0;
    padding: 0 1rem;
    text-align: center;
}

/* Meal Kits Section */

.mealkit-carousel-container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-light);
}

.mealkit-title {
    font-family: var(--fnt-body-m);
    font-size: 1.3rem;
}

.mealkit-card {
    width: 25rem;
    border-radius: 10px;
    overflow: hidden;
}

.mealkit-card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.mealkit-card-body {
    font-family: var(--fnt-body-r);
}

.mealkit-card-title {
    font-family: var(--fnt-body-b);
}

.carousel-indicators {
    position: static;
    margin-top: 50px;
}

/* Footer Section */

.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-contact {
    width: 100%;
    border-bottom: 1px solid var(--clr-grey);
}

.footer-contact-title {
    font-family: var(--fnt-body-m);
    font-size: .8rem;
}

.footer-contact-button {
    background-color: var(--clr-green);
    border-radius: 5px;
    color: white;
    font-family: var(--fnt-body-m);
    font-size: 1rem;
}

.footer-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-family: var(--fnt-body-m);
    font-size: .8rem;
    padding-bottom: .8rem;
}

.footer-nav-list {
    padding-left: 0;
    margin-left: 0;
    font-family: var(--fnt-body-r);
    font-size: .5rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}

.app-store-img {
    width: 150px;
    height: 50px;
}

.footer-footer {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid var(--clr-light);
    font-family: var(--fnt-body-m);
    color: rgb(212, 212, 212);
    font-size: .8rem;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-t {
    border-right: solid .5px var(--clr-light);
}

.footer-p {
    border-right: solid .5px var(--clr-light);
}