@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Gordita-bold";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Bold.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gordita-regular";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Regular.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gordita-medium";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Medium.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Utopia";
    src: local("Utopia"),
     url("./fonts/Utopia/Utopia-Semibold.otf") format("truetype");
    font-weight: bold;
}




*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --fnt-title: "Utopia", sans-serif;
    --fnt-body-b: "Gordita-bold", sans-serif;
    --fnt-body-r: "Gordita-regular", sans-serif;
    --fnt-body-m: "Gordita-medium", sans-serif;
    --clr-grey: #ececec;
    --clr-cream: #FAFAFA;
    --clr-light: #f1f1ee;
    --clr-green: rgb(79, 169, 112);
    --clr-orange: rgb(232, 117, 67);
    --clr-black :rgb(30, 30, 30);
}

body {
    margin: 0;
    font-family: var(--fnt-body);
    background-color: rgb(245, 245, 245);
}

.logo {
    width: 4rem;
}

.nav-content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--fnt-body-m);
}

.nav-list {
    font-size: .48rem;
    color: var(--clr-black);
}

.nav-login {
    color: var(--clr-orange);
    font-size: .7rem;
    font-family: var(--fnt-body-b);
    
}

.nav-signup {
    background-color: var(--clr-orange);
    color: white;
    font-size: .65rem;
    font-family: var(--fnt-body-b);
}

.nav-right-seperator {
    background-color: var(--clr-black);
    width: .05rem;
    height: 1.5rem;
    opacity: 0.1;
}

.cart-items {
    font-family: var(--fnt-body-r);
    background-color: var(--clr-black);
    color:var(--clr-light);
    font-size: .5rem;
}

/* Hero Section */

.hero-container {
    width: 100%;
    height: 400px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-grey);
}

.hero-content-container {
    width: 50%;
}

.hero-content {
    width: 60%;
}

.hero-content-title {
    font-family: var(--fnt-title);
    font-weight: 600;
    font-style: normal;
    color: var(--clr-black);
    font-size: 2rem;
}

.hero-content-subtitle {
    font-family: var(--fnt-body-m);
    font-size: 1.2rem;
    color: var(--clr-black);
}

.hero-content-paragraph {
    font-size: .65rem;
    font-family: var(--fnt-body-r);
    line-height: 1.1rem;
}

.hero-content-button {
    background-color: var(--clr-green);
    color: var(--clr-light);
    font-family: var(--fnt-body-m);
    font-size: .65rem;
}

.hero-image-container {
    width: 50%;
}

.hero-image {
    width: 80%;
}

/* About Section */

.about-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}

.about-title {
 font-family: var(--fnt-body-m);
 font-size: 1.1rem;
}

.about-image {
    width: 7rem;
    margin: 0 auto;
}

.about-subtitle {
    font-family: var(--fnt-body-b);
    font-size: 1rem;
}

.about-paragraph {
    font-family: var(--fnt-body-r);
    font-size: .65rem;
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.1rem;
}

.about-footer {
    font-family: var(--fnt-body-r);
    font-size: .65rem;
}

/* Coupon Section */
.coupon-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.coupon-image-container {
    position: relative;
}

.coupon-image-overlay {
    width: 60%;
    height: 60%;
    background-color: white;
    position: absolute;
    border: solid red 3px;
    z-index: 10;
}