/* bringing in tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* adding some fonts */
@font-face {
    font-family: "Gordita-bold";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Bold.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gordita-regular";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Regular.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Gordita-medium";
    src: local("Gordita"),
     url("./fonts/Gordita/Gordita\ Medium.woff") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Utopia";
    src: local("Utopia"),
     url("./fonts/Utopia/Utopia-Semibold.otf") format("truetype");
    font-weight: bold;
}

/* basic overall styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* declaring some root variables */
:root {
    --fnt-title: "Utopia", sans-serif;
    --fnt-body-b: "Gordita-bold", sans-serif;
    --fnt-body-r: "Gordita-regular", sans-serif;
    --fnt-body-m: "Gordita-medium", sans-serif;
    --clr-grey: #ececec;
    --clr-cream: #FAFAFA;
    --clr-light: #f1f1ee;
    --clr-green: rgb(79, 169, 112);
    --clr-orange: rgb(232, 117, 67);
    --clr-black :rgb(30, 30, 30);
}

/* ************************ */
/* NAVBAR COMPONENT STYLING */
/* ************************ */

/* Styles for the logo */
.logo {
    width: 4.2rem;
}

/* Styles for the Navbar content */
.nav-content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--fnt-body-m);
}

/* Styles for the Navbar container, making it fixed at the top */
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
}

/* Styles for the left side of the Navbar container, including logo and main navigation */
.nav-container-left {
    padding: 1.2rem;
    display: flex;
    gap: 30px;
    align-items: center;
}

/* Styles for the main navigation list */
.header-nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Styles for each item in the navigation list */
.header-nav-item {
    font-size: .6rem;
}

/* Styles for links in the navigation list */
.header-nav-link {
    text-decoration: none;
    color: var(--clr-black);
}

/* Styles for the login link */
.nav-login {
    color: var(--clr-orange);
    font-size: .7rem;
    font-family: var(--fnt-body-b);
    text-decoration: none;
}

/* Styles for the signup button */
.nav-signup {
    background-color: var(--clr-orange);
    color: white;
    font-size: .65rem;
    font-family: var(--fnt-body-b);
}

/* Styles for the separator between authentication links and cart */
.nav-right-seperator {
    background-color: var(--clr-black);
    width: .05rem;
    height: 1.5rem;
    opacity: 0.1;
}

/* Styles for the cart items indicator */
.cart-items {
    font-family: var(--fnt-body-r);
    background-color: var(--clr-black);
    font-size: .5rem;
}

/* Styles for the link in the cart items indicator */
.cart-items-link {
    color:var(--clr-light);
    text-decoration: none;
}


/* ********************** */
/* HERO COMPONENT STYLING */
/* ********************** */

/* Main Container for Hero Section */
.hero-container {
    width: 100%;
    height: 400px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    background-color: var(--clr-grey);
}

/* Container for Hero Content */
.hero-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* Specific Content within Hero */
.hero-content {
    width: 60%;
}

/* Styles for the Hero Title */
.hero-content-title {
    font-family: var(--fnt-title);
    font-weight: 600;
    font-style: normal;
    color: var(--clr-black);
    font-size: 2rem;
}

/* Styles for the Hero Subtitle */
.hero-content-subtitle {
    font-family: var(--fnt-body-m);
    font-size: 1.2rem;
    color: var(--clr-black);
}

/* Styles for the Hero Paragraph */
.hero-content-paragraph {
    font-size: .65rem;
    font-family: var(--fnt-body-r);
    line-height: 1.1rem;
    color: var(--clr-black);
}

/* Styles for the Hero Button */
.hero-content-button {
    background-color: var(--clr-green);
    color: var(--clr-light);
    font-family: var(--fnt-body-m);
    font-size: .65rem;
    border-radius: 5px;
}

/* Container for Hero Image */
.hero-image-container {
    width: 50%;
}

/* Styles for the Hero Image */
.hero-image {
    width: 80%;
}

/* *********************** */
/* ABOUT COMPONENT STYLING */
/* *********************** */

/* About section container, set to the full width of the viewport, with a maximum width of 1440px, and centered on the page. The background color is white. */
.about-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}

/* About section title styling: using a body medium font, slightly bigger font size and color set to black */
.about-title {
    font-family: var(--fnt-body-m);
    font-size: 1.1rem;
    color: var(--clr-black);
}

/* Styling for images in the about section: size is set to 7 rem and centered */
.about-image {
    width: 7rem;
    margin: 0 auto;
}

/* Styling for subtitles in the about section: using a bold body font, regular font size and color set to black */
.about-subtitle {
    font-family: var(--fnt-body-b);
    font-size: 1rem;
    color: var(--clr-black);
}

/* Styling for the paragraphs in the about section: 
- Using a regular body font with slightly smaller size
- Width is 70% of the parent container, centered
- Line height is 1.1 rem and color is black */
.about-paragraph {
    font-family: var(--fnt-body-r);
    font-size: .65rem;
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.1rem;
    color: var(--clr-black);
}

/* Footer text in the about section: 
- Using a regular body font with slightly smaller size 
- Text color is set to black */
.about-footer {
    font-family: var(--fnt-body-r);
    font-size: .65rem;
    color: var(--clr-black);
}

/* ************************ */
/* COUPON COMPONENT STYLING */
/* ************************ */

/* The main container for the coupon component */
.coupon-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* The container for the coupon's background image */
.coupon-image-container {
    background-image: url("coupon-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
}

/* A semi-transparent overlay on the image */
.coupon-image-overlay {
    width: 75%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

/* Styling for the coupon's title */
.coupon-title {
    font-family: var(--fnt-body-b);
    font-size: 1.2rem;
}

/* Styling for the coupon's subtitle */
.coupon-subtitle {
    font-family: var(--fnt-body-m);
    font-size: 1.5rem;
    color: var(--clr-black);
}

/* Styling for the coupon's paragraph */
.coupon-paragraph {
    text-transform: uppercase;
    font-family: var(--fnt-body-b);
    font-size: .9rem;
    color: var(--clr-black);
}

/* Styling for the coupon's button */
.coupon-button {
    background-color: var(--clr-green);
    color: white;
    font-family: var(--fnt-body-m);
    font-size: 1rem;
    padding-top: .9rem;
    padding-bottom: .7rem;
}


/* ********************* */
/* WHY COMPONENT STYLING */
/* ********************* */

/* Set the width, max-width, margin, and background color of the main container */
.why-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-light);
}

/* Set the font, color, and size for the section title */
.why-title {
    font-family: var(--fnt-body-m);
    color: var(--clr-black);
    font-size: 1.25rem;
}

/* Set width for images in the section */
.why-image {
    width: 7rem;
    margin: 0 auto;
}

/* Style the subtitles in the section */
.why-subtitle {
    font-family: var(--fnt-body-b);
    color: var(--clr-black);
    font-size: 1rem;
}

/* Style the paragraphs in the section, including font, color, size, line-height, and margin */
.why-paragraph {
    font-family: var(--fnt-body-r);
    color: var(--clr-black);
    font-size: .65rem;
    max-width: 55%;
    margin: 0 auto;
    line-height: 1.1rem;
    margin-bottom: 4rem;
}

/* Make the grid one-column on screens smaller than 768px */
@media (max-width: 767px) {
    .why-content-container {
        grid-template-columns: repeat(1, 1fr);
    }
    /* Adjust the max-width of the paragraph for smaller screens */
    .why-paragraph {
        max-width: 90%;
    }
}

/* Style the button */
.why-button {
    background-color: var(--clr-black);
    color: white;
    font-family: var(--fnt-body-m);
    font-size: 1rem;
}

/* ******************************* */
/* MENU CAROUSEL COMPONENT STYLING */
/* ******************************* */

/* Menu container style */
.menu-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-cream);
}

/* Menu title style */
.menu-title {
    font-family: var(--fnt-body-m);
    font-size: 1.5rem;
    color: var(--clr-black);
}

/* Menu navigation list style */
.menu-nav-list {
    list-style: none;
    font-family: var(--fnt-body-r);
    font-size: .85rem;
    cursor: pointer;
}

/* Menu navigation items style */
.menu-nav-items {
    cursor: pointer;
}

/* Container for individual menu items */
.menuitem-container {
    background-color: var(--clr-cream);
}

/* Style for the images in menu items */
.menuitem-image {
    width: 240px;
}

/* Menu item title style */
.menuitem-title {
    font-family: var(--fnt-body-m);
    font-size: .55rem;
    color: var(--clr-black);
}

/* Style for selected item in the menu */
.selected {
    color: var(--clr-orange);
}

/* Total carousel container style */
.total-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Carousel style */
.carousel {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Blank container style */
.blank-container {
    width: 220px;
    background-color: var(--clr-cream);
}

/* Bottom container style */
.bottom-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-cream);
    height: 70px;
}


/* ******************** */
/* BIG CAROUSEL STYLING */
/* ******************** */

.big-carousel-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.carousel-slides {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Common styles for images */
.image-container {
    width: 55%;
}

.image {
    border-radius: 0 0 0 50px;
}

/* Common styles for text */
.text {
    width: 45%;
}

.content {
    padding-left: 130px;
    padding-right: 50px;
}

.title {
    font-family: var(--fnt-body-m);
    font-size: 2rem;
    color: white;
    line-height: 4rem;
}

.paragraph {
    font-family: var(--fnt-body-m);
    font-size: .9rem;
    color: white;
}

.button {
    border: 1px solid var(--clr-black);
    font-family: var(--fnt-body-m);
    font-size: .8rem;
}

/* Specific styles */
.wines-image-container, .fruits-image-container {
    background-color: rgb(167, 183, 119);
}

.pizza-image-container, .bbq-image-container {
    background-color: rgb(190, 190, 175);
}

.wines-text, .fruits-text {
    background-color: rgb(167, 183, 119);
}

.pizza-text, .bbq-text {
    background-color: rgb(190, 190, 175);
}

/* ****************************** */
/* TESTIMONIALS COMPONENT STYLING */
/* ****************************** */

/* The testimonial-container holds the overall layout of the testimonials */
.testimonial-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-cream);
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
}

/* Each testimonial-card is styled with fixed dimensions and rounded corners */
.testimonial-card {
    width: 360px;
    height: 160px;
    border-radius: 10px;
}

/* The testimonial-title has specific styling and padding */
.testimonial-title {
    font-family: var(--fnt-body-m);
    font-size: .1rem;
    margin: 0;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* The testimonial-stars are styled as a flex container with gap between each star */
.testimonial-stars {
    display: flex;
    gap: 5px;
}

/* Each star has specific dimensions */
.testimonial-star {
    width: 20px;
    height: 20px;
}

/* The testimonial text has specific typography and layout styling */
.testimonial-text {
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    font-family: var(--fnt-body-r);
    font-size: .8rem;
    letter-spacing: .04rem;
    line-height: 1.4rem;
}


/* *************************** */
/* MEAL KITS COMPONENT STYLING */
/* *************************** */

/* Main carousel container styling */
.mealkit-carousel-container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-light);
    padding-bottom: 100px;
}

/* Carousel title styling */
.mealkit-title {
    font-family: var(--fnt-body-m);
    font-size: 1.3rem;
}

/* Card styling within the carousel */
.mealkit-card {
    width: 25rem;
    border-radius: 10px;
    overflow: hidden;
}

/* Styling of the image within each card */
.mealkit-card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

/* Styling of the content within each card */
.mealkit-card-body {
    font-family: var(--fnt-body-r);
}

/* Styling of the title within each card */
.mealkit-card-title {
    font-family: var(--fnt-body-b);
}

/* ************************ */
/* FOOTER COMPONENT STYLING */
/* ************************ */

/* Main Footer Container */
.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}

/* Contact Section Styles */
.footer-contact {
    width: 100%;
    border-bottom: 1px solid var(--clr-grey);
}

/* Contact Title Styles */
.footer-contact-title {
    font-family: var(--fnt-body-m);
    font-size: .8rem;
}

/* Contact Button Styles */
.footer-contact-button {
    background-color: var(--clr-green);
    border-radius: 5px;
    color: white;
    font-family: var(--fnt-body-m);
    font-size: 1rem;
}

/* Navigation Section Styles */
.footer-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Navigation Title Styles */
.footer-title{
    font-family: var(--fnt-body-m);
    font-size: .8rem;
    padding-bottom: .8rem;
}

/* Navigation List Styles */
.footer-nav-list {
    padding-left: 0;
    margin-left: 0;
    font-family: var(--fnt-body-r);
    font-size: .5rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}

/* App Store Image Styles */
.app-store-img {
    max-width: 100%;
    width: 120px;
    height: auto;
}

/* Footer's Footer Styles */
.footer-footer {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid var(--clr-light);
    font-family: var(--fnt-body-m);
    color: rgb(189, 189, 189);
    font-size: .75rem;
    padding-left: 50px;
    padding-right: 50px;
}

/* Footer's Footer t and p Elements Styles */
/* This is for the vertical lines between the text */
.footer-t {
    border-right: solid .5px var(--clr-light);
}

.footer-p {
    border-right: solid .5px var(--clr-light);
}
